<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <ion-card class="ion-padding ion-text-uppercase">
        <ion-card-header>
          <ion-card-title>Puma Casual</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://unsplash.com/photos/IJjfPInzmdk/download?force=true&w=1920"
          />

          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button fill="clear" size="small" color="tertiary">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="warning">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="success">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="4">
              <h2 class="price">40 reais</h2>
            </ion-col>
            <ion-col size="8">
              <ion-button
                expand="block"
                shape="round"
                fill="outline"
                color="dark"
              >
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-padding ion-text-uppercase">
        <ion-card-header>
          <ion-card-title>Kike Jordan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.unsplash.com/photo-1524532787116-e70228437bbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80"
          />

          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button fill="clear" size="small" color="tertiary">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="warning">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="success">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="4">
              <h2 class="price">40 reais</h2>
            </ion-col>
            <ion-col size="8">
              <ion-button
                expand="block"
                shape="round"
                fill="outline"
                color="dark"
              >
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="ion-padding ion-text-uppercase">
        <ion-card-header>
          <ion-card-title>Nike Normal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img
            src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=725&q=80"
          />

          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button fill="clear" size="small" color="tertiary">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="warning">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="success">
                <ion-icon slot="icon-only" name="ellipse"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="4">
              <h2 class="price">40 reais</h2>
            </ion-col>
            <ion-col size="8">
              <ion-button
                expand="block"
                shape="round"
                fill="outline"
                color="dark"
              >
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Ampla seleção de sapatos atuais</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Produtos de alta qualidade e durabilidade</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Designs modernos e sofisticados</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Conforto excepcional em cada par de sapatos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label
        >Equipe especializada para ajudar na escolha do calçado
        perfeito</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Preços competitivos e promoções regulares</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
